---

---

<footer
  class="w-full py-2 pl-[var(--body-margin-left)] pr-[var(--body-margin-right)] bg-[#f0e7db] dark:bg-zinc-900"
>
  <div class="max-w-3xl mx-auto px-4 text-center text-sm">
    <p>Written with ❤️ by hoha.dev</p>
  </div>
</footer>
